.about {
  width: 100%;
  margin: 3rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  flex-wrap: wrap;
  height: 100%;
  padding: 0 2rem; 
}

.about .left {
  text-align: left; 
  margin: auto;
  padding: 1rem;
  max-width: 400px; 
}

.about .left h1 {
  color: var(--text-primary);
}

.about .left p {
  margin: 1.2rem 0;
  line-height: 1.5;
  color: var(--text-primary);
}

[data-theme="light"] .about .left h1,
[data-theme="light"] .about .left p {
  color: var(--text-primary) !important;
}
.about .right {
  max-width: 700px;
}

.right .img-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.right .img {
  max-width: 100%;
  border: 1px solid #333;
  border-radius: 10px;
}

.right .top {
  grid-column: 1 / span 8;
  grid-row: 1;
  padding-top: 10%;
  z-index: 6;
}

.right .bottom {
  grid-column: 8 / -1;
  grid-row: 1;
  z-index: 5;
  max-width: 90%;
  max-height: 500px; 
  object-fit: cover; 
  margin: 0 auto; 
}

@media screen and (max-width: 768px) {
  .about {
      flex-direction: column;
      text-align: center;
  }

  .about .left {
      max-width: 90%;
      text-align: center;
  }

  .right .img-container {
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .right .top,
  .right .bottom {
      grid-column: auto;
      grid-row: auto;
      padding-top: 0;
  }
}
